// Colors
@white: #fff;
@black: #000;
@red: #d70000;
@orange: #f0ad4e;
@yellow: #ffd500;
@green: #5cb85c;
@blue: #60a4d9;
@teal: #5bc0de;
@pink: #ff5b77;
@purple: #613d7c;
@gray: #6f6f6f;
@gray-lighter: #d5d5d5;

// resolutions
@xldesktop: 1200px;
@lgdesktop: 992px;
@tablets: 768px;
@lphones: 576px;
// font weights
@normal: 400;
@bold: 700;
// transitions
@transition-base: all .2s ease-in-out;
