<div class="header-holder">
  <div class="container">
    <!-- start: left logo -->
    <div class="left-logo">
      <a>
        <div class="hdv">HDV</div>
      </a>
      <h1>Vorsorgecheck</h1>
    </div>
    <!-- end: left logo -->

    <!-- start: heading -->
    <div class="heading">

    </div>
    <!-- end: lheading -->

    <!-- start: right logo -->
    <div class="right-logo">
      <div class="text">Top title<br> Bottom title</div>
      <a>
        <div class="nzz">NZZ</div>
      </a>
    </div>
    <!-- end: right logo -->
  </div>
</div>
